/********************* NAV ********************************************/
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: var(--main-color-black);
    color: var(--main-color-white);
    width: var(--height-unit);
    height: 100vh;
}

nav:hover {
    width: 300px;
}

nav:hover ul li a .text{
    display: block;
}

nav ul li a {
    height: var(--height-unit);
    gap: 10px;
    box-shadow: 0 3px 5PX -1px  rgb(0 0 0 / 20%);
    0 5px 8px 0 rgb(0 0 0 /14%);
    0 1px 14px 0 rgb(0 0 0 / 12%);
}

nav ul li a:hover,
nav ul li a.active {
    background-color: var(--main-color-teal);
}

nav ul li a .text{
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: bold;
    display: none;
}

nav ul li a .icon{
    width: var(--height-unit);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li a .icon i {
    font-size: 2rem;
}
#app {
    height: 100vh;
    overflow: hidden;
}
#app .flex-1 p,
#app .flex-1 h1 {
    padding-left: 40px;
    padding-right: 40px;
}


/******************* Z-INDEX ***************/
header{
    z-index: var(--z-index-header);
}
/****************************** HEADER **********************************/


header{
    box-shadow: 0 3px 5PX -1px  rgb(0 0 0 / 20%);
    0 5px 8px 0 rgb(0 0 0 /14%);
    0 1px 14px 0 rgb(0 0 0 / 12%);
    position: sticky;
    top: 0;
    background-color:var(--main-color-white);
}


header ul{
    display: flex;
    align-items: center;
}

header ul li {
    flex: 1;
}

header ul li a{
    display: block; 
    height: var(--height-unit);
    line-height: var(--height-unit);
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

header ul li a:hover{
    background-color: var(--main-color-teal);
    color: var(--main-color-white);
}
header .icon h1{
    display: none;
}
.card{
    box-shadow: 2px 2px 5px #cccccc, -2px -2px 5px #cccccc;
}


/******************************** MAIN *******************************************/
main {
    overflow-y: auto;
}

p{
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: justify;
}
header .icon .fa-bars {
    font-size: 3rem;
    position: absolute;
    right: 10px;
    top: 10px;
}

/******************* CONTACT ******************************/
.contact{
    padding-left: 10px;
    padding-right: 40px;
    margin-top: 60px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    height: 100vh;
}
.first-section-us .first-section .comment{
    font-size: 1.2rem;
    text-align: justify;
    margin-bottom: 10px;
}
.first-section-us .icons p{
    font-size: 1.2rem;
    text-align: justify;
    margin-bottom: 10px;
}
.form-row input{
    width: 500px;

}
.form-row  .name,
.form-row .mail {
    margin-top: 10px;
    height: 40px;
    background-color: #efefef;
    outline: none;
    
}
.second-section-us .form-row div i{
    color: #ccc;
    font-size: 1.5rem;
    position: absolute;
    right: 60px;
    padding-top: 20px;
    cursor: pointer;
    
}
.second-section-us .btn{
    background-color: var(--main-color-teal);
    color: white;
    font-size: 1rem;
    
}

.form-row .message{
    margin-top: 10px;
    padding-bottom: 150px;
    padding-top: 10px;
    flex-wrap: wrap;
    background-color: #efefef;
    outline: none;
}
.icons .firts-icon:hover{
    color: var(--main-color-teal);
}
.icons .second-icon:hover{
    color: var(--main-color-teal);
}
.icons .thirt-icon:hover{
    color: var(--main-color-teal);
}
.icons .for-icon:hover{
    color: var(--main-color-teal);
}
.icons i{
    cursor: pointer;
}
.icons i{
    position: sticky;
    padding-top: 10px;
    font-size: 2rem;
}
.icons p{
    cursor: pointer;
    padding-left: 50px;
}
/************************ ACCUEIL ********************************/

.slider img{
    background-position-x: 68%;
    width: 100%;
    height: 100vh;
}

/********************* PRODUCTS ****************************/
.categories-products .card  img {
    height: 400px;
}
.categories-products .card {
    width: 400px;

}
.categories-products .card h5{
    text-align: center;
    font-weight: bold;
}
.categories-products .card .btn{
    background-color: var(--main-color-teal);
}

.flex-1 h1{
    color: var(--main-color-teal);
}
/**************** SERVICES **********************/
.content{
    height: 100vh;

}
.content-nav{
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 60px;

}
.content-nav .figure-caption{
    color: var(--main-color-teal);
    font-weight: bold;
    font-size: 1.3rem;
    text-align: center;

}
.content-nav figure img{
    height: 200px;
    width: 300px;
    flex-wrap: wrap;
}


/********************* FOOTER *******************************/
 
footer{
    height: 100px;
    margin-top: 50px;
    background-color: var(--main-color-teal);
    color: white;
    bottom: -40px;
}
 footer h6{
    font-size: 2rem;
    text-align: center;
    padding-top: 30px;
}
 footer pre{
    text-align: center;
    font-size: 1.1rem;
    flex-wrap: wrap;
}

/************************* MEDIA **********************/
@media screen and (max-width: 1280px) {
    .form-row input{
        margin-top: 10px;
        width: 400px;
        height: 40px;
    }
    .content{
        height: 1500px;
    
    }
}
@media screen and (max-width: 912px) {
    .form-row input{
        margin-top: 10px;
        width: 400px;
        height: 40px;
    }
    .content{
        height: 1700px;
    
    }
}

@media screen and (max-width: 768px){
    .form-row input{
        margin-top: 10px;
        width: 650px;
        height: 40px;
    }
    .contact{
        padding-left: 10px;
        padding-right: 20px;
        height: 1000px;
    
    }
    .content-nav .figure-caption{
        color: var(--main-color-teal);
        font-weight: bold;
        font-size: 1.3rem;
        text-align: center;
    
    }
    .content-nav {
        display: block;
        
    }
    
    .categories-products {
        padding-left: 10px;
        padding-right: 10px;
        
    }
    footer h6{
        font-size: 1.6rem;
    }
    .content-nav .figure-caption{
        font-size: 1rem;
    
    }
    .content-nav {
        align-items: center; 
        justify-content: center; 
    
    }
    .first-section-us .first-section .comment {
        font-size: 1.1rem;
        line-height: 1.4;
        text-align: justify;
    }
   
    .contact{
        display: block;
    }
    .content{
        height: 1500px;
    
    }
    
}
@media screen and (max-width: 540px) {
    
    header {
        display: none;

    }
    
    header .icon h1{
        display: block;
        font-size: 2rem;
    }
    .contact{
        display: block;
        height: 1200px;
    }
    .second-section-us .form-row div i{
        color: #ccc;
        font-size: 1.5rem;
        position: relative;
        right: -200px;
        bottom: -40px;
        cursor: pointer;
        display: flex;
        
    }
    .form-row input{
        margin-top: 10px;
        width: 250px;
        height: 40px;
        
    }
    .container{
        flex-wrap: wrap;
    }
    .flex-1 h1{
        font-size: 1.8rem;
        text-align: justify;
    }
    header ul li a{
        display: block; 
        height: var(--height-unit);
        line-height: var(--height-unit);
        font-size: 1rem;
        font-weight: bold;
        text-transform: uppercase;
    }
    .content{
        height: 3100px;
    
    }
    
}

@media screen and (max-width: 280px){
    .form-row input{
        margin-top: 10px;
        width: 180px;
        height: 20px;
        
    }
    .first-section-us .first-section .comment{
        font-size: 1rem;
        text-align: justify;
    }
    .first-section-us .icons .first-icon{
        gap: 5px;
    }
    .first-section-us .icons p{
        font-size: 1rem;
        padding-left: 5px;
    }
    .second-section-us .form-row div i{
        color: #ccc;
        font-size: 1.5rem;
        position: relative;
        right: -140px;
        bottom: -45px;
        cursor: pointer;
        display: flex;
        
    }
    .contact{
        padding-left: 10px;
        padding-right: 10px;
        height: 1300px;
    }
    .services{
        flex-wrap: wrap;
    }
    .content{
        height: 4200px;
    
    }
}
